﻿@page
@model RESTfulAPI.Models.Product
@{
    
}

<h1>Products</h1>

<div id="danhSachSanPham" class="row">
    <!-- Product cards will be dynamically added here -->
</div>

@section scripts {
    <script>
        // Function to create a product card element
        function createProductCard(product) {
            const productCardElement = document.createElement('div');
            productCardElement.classList.add('col');

            // Create the product card HTML
            productCardElement.innerHTML = `
                        <div class="card">
                            <img src="https://picsum.photos/id/684/600/400" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">${product.name}</h5>
                                <p class="card-text">Price: ${product.price}</p>
                                <button onclick="deleteProduct(${product.id})" class="btn btn-danger">Delete</button>
                                <button onclick="updateProduct(${product.id})" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    `;
            return productCardElement;
        }

        // Function to retrieve and display product cards
        function getProductList() {
            const danhSachSanPhamElement = document.getElementById('danhSachSanPham');
            fetch('/api/products')
                .then(response => response.json())
                .then(products => {
                    // Clear previous content
                    danhSachSanPhamElement.innerHTML = '';

                    // Loop through products and add them to danhSachSanPhamElement
                    products.forEach(product => {
                        const productCardElement = createProductCard(product);
                        danhSachSanPhamElement.appendChild(productCardElement);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        // Call getProductList() to display product cards when the page loads
        getProductList();

        // Functions for CRUD operations
        function deleteProduct(productId) {
            fetch(`/api/products/${productId}`, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.status === 204) {
                        console.log('Product deleted successfully.');
                        getProductList(); // Refresh product list after deletion
                    } else {
                        console.error('Failed to delete product.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function updateProduct(productId) {
            // This function should handle updating a product
            // You can implement it similar to the deleteProduct() function
            console.log('Update product with ID:', productId);
        }
    </script>
}
